/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.image-hover {
	display: none;
}

.card-product:hover .image-hover {
	display: inline-block;
}

.card-product:hover .image-product {
	display: none;
}

.heart:hover {
	color: red;
}